/**
 * @file
 * Lazy Theme main css file.
 */
#page-wrapper {
  margin: 0 auto;
  padding: 0 50px;
  width: 960px;
  border: 1px solid #87cefa;
}

.region-header,
.region-content,
.region-footer {
  border: 1px solid #ffff00;
  margin-bottom: 20px;
}

.region-header::before,
.region-content::before,
.region-footer::before {
  display: block;
  background-color: #ffffe0;
  border-bottom: 1px solid #ffff00;
  margin-bottom: 5px;
  padding: 5px;
  font-weight: bold;
}

.region-header::before {
  content: 'header region';
}
.region-content::before {
  content: 'content region';
}
.region-footer::before {
  content: 'footer region';
}

.block-lazy-counter {
  border: 1px solid #009000;
  width: 30%;
}

/* styles for lazy_counter_cron_setup form */
.lazy_theme_table {
  width: 60%;
  margin: 10px auto;
}

.lazy_theme_table tbody {
  border: none;
}

.lazy_theme_table td {
  text-align: center;
  border: 1px solid #d3d3d3;
}
